name: Go Test

permissions:
  contents: read
  packages: read

on:
  push:
    branches:
      - main
      - develop

jobs:
  go-test:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Test
        env:
          DB_DSN: ${{ secrets.TEST_DB_DSN }}
        run: go test -v ./...
